@using System.Activities.Statements
@using System.Web.UI.WebControls
@using PowerTables.Plugins
@using PowerTables.Templating

@inherits PowerTables.Templating.TemplatesPageBase

<script type="text/javascript">
    $(document).ready(function () {
        Handlebars.registerPartial('lt-hideout-visibleColumn', $('#lt-hideout-visibleColumn').html());
        Handlebars.registerPartial('lt-hideout-hiddenColumn', $('#lt-hideout-hiddenColumn').html());
        Handlebars.registerHelper('equal', function (lvalue, rvalue, options) {
            if (arguments.length < 3)
                throw new Error("Handlebars Helper equal needs 2 parameters");
            if (lvalue != rvalue) {
                return options.inverse(this);
            } else {
                return options.fn(this);
            }
        });
    });
</script>

@*
    Lattice common layout template
    See available helpers in scope variable "t"
*@

@using (var t = Layout())
{
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6 col-sm-6 col-xs-6 col-lg-6">
                @t.Plugins("lt")
                <div class="btn-group" style="margin-bottom:10px">@t.Plugins("lt-toolbar")</div>
                <br />
            </div>
            <div class="col-md-6 col-sm-6 col-xs-6 col-lg-6 text-right">
                @t.Plugins("rt")
                <div class="btn-group" style="padding-bottom:10px">@t.Plugins("rt-toolbar")</div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12 col-lg-12">
                <hr />
            </div>
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <table class="table table-striped table-condensed table-bordered">
                    <thead style="display: table-header-group;">
                        <tr>@t.Headers</tr>
                        <tr>@t.Filters</tr>
                    </thead>
                    <tbody>@t.Body</tbody>
                </table>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                @t.Plugins("lb")
                <div class="btn-group">@t.Plugins("lb-toolbar")</div>
            </div>
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 text-right" style="float:right;">
                @t.Plugins("rb")
                <div class="btn-group">@t.Plugins("rb-toolbar")</div>
            </div>
        </div>
    </div>
}

@*
    Plugin wrapper template. This template is being wrapped around each plugin
*@
@using (var t = PluginWrapper())
{
    <text>
        @using (t.IfStrEquals(c => c.Configuration.Placement, "lt"))
        {
            <span @t.Track()> @t.Content() </span>
        }

        @using (t.IfStrEquals(c => c.Configuration.Placement, "lb"))
        {
            <div style="float: left;" @t.Track()> @t.Content() </div>
        }

        @using (t.IfStrEquals(c => c.Configuration.Placement, "rt"))
        {
            <div style="float: right;" @t.Track()> @t.Content() </div>
        }

        @using (t.IfStrEquals(c => c.Configuration.Placement, "rb"))
        {
            <div style="float: right;" @t.Track()> @t.Content() </div>
        }
        @using (t.IfStrEquals(c => c.Configuration.Placement, "filter"))
        {
            <th @t.Track()>@t.Content()</th>
        }
    </text>
}

@*
    Column header wrapper template.
*@
@using (var t = HeaderWrapper())
{
    <th @t.Track()>@t.Content()</th>
}

@*
    Row wrapper template.
    Following HTML is being wrapped around each data row
*@
@using (var t = RowWrapper())
{
    <tr @Track>{{{Cells}}}</tr>
}

@*
    Cell wrapper template.
    Following HTML is being wrapped around each data cell
    Model: data cell of type ICell
    Available handlebars helpers:
        Content: renders cell content
*@
@using (Template(CellWrapper))
{
    <td @Track>@Content</td>
}

<script id="lt-noresults" type="text/x-handlebars-template">
    <tr class="info">
        <td colspan="{{Columns}}"><h4 class="text-center text-info bg-info"><span class="glyphicon glyphicon-eye-close"></span>  No data found</h4></td>
    </tr>
</script>
<script id="lt-loading" type="text/x-handlebars-template">
    <tr class="info">
        <td colspan="{{Columns}}"><h4 class="text-center text-info bg-info"><span class="glyphicon glyphicon-refresh"></span>  Loading</h4></td>
    </tr>
</script>
<script id="lt-error" type="text/x-handlebars-template">
    <tr class="danger">
        <td colspan="{{Columns}}">
            <h4 class="text-center"><span class="glyphicon glyphicon-remove-sign" aria-hidden="true"></span>  Error occured</h4>
            <p style="margin-left:25px;margin-right:25px">
                {{{ErrorText}}}
            </p>
        </td>
    </tr>
</script>

@using (Template("ordering"))
{
    <span><strong>{{Title}}</strong></span>
    using (If("IsNeutral"))
    {
        <span class="glyphicon glyphicon-th-large" style="color:#bac5d3;float:right;"></span>
    }
    using (If("IsAscending"))
    {
        <span class="glyphicon glyphicon-chevron-up" style="color:#bac5d3;float:right;"></span>
    }
    using (If("IsDescending"))
    {
        <span class="glyphicon glyphicon-chevron-down" style="color:#bac5d3;float:right;"></span>
    }
}


<!-- Filters -->
@using (Template("valuefilter"))
{
    <input type="text" {{BindEvent "handleValueChanged" "add,keyup"}} style="margin: 0; width: 100%; max-width: 100%;" class="form-control input-md" placeholder="{{Configuration.Placeholder}}" />
}

<script id="lt-rangefilter" type="text/x-handlebars-template">
    <input type="text" {{BindEvent "handleFromValueChanged" "add,keyup"}} class="form-control input-md" style="margin:0;width:100%;max-width:100%;" placeholder="{{Configuration.FromPlaceholder}}">
    <br />
    <input type="text" {{BindEvent "handleToValueChanged" "add,keyup"}} class="form-control input-md" style="margin:0;width:100%;max-width:100%;" placeholder="{{Configuration.ToPlaceholder}}">
</script>

<script id="lt-selectfilter" type="text/x-handlebars-template">
    <select class="form-control input-md" style="margin:0;width:100%;max-width:100%;" {{BindEvent "handleValueChanged" "change"}} {{#if Configuration.IsMultiple}} multiple="multiple" {{/if}}>
        {{#each Configuration.Items}}
        <option {{#if Disabled}} disabled="disabled" {{/if}} value="{{Value}}" {{#if Selected}} selected {{/if}}>{{Text}}</option>
        {{/each}}
    </select>
</script>
<!-- /Filters -->
<!--Hideout-->
<script id="lt-hideout" type="text/x-handlebars-template">
    <div class="btn-group" role="group">
        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Show/Hide Columns
            <span class="caret"></span>
        </button>
        <ul class="dropdown-menu">
            @using (Each("ColumnsStates"))
            {
                using (If("Visible"))
                {
                    <li data-showhide="{{RawName}}">{{> lt-hideout-visibleColumn}}</li>
                }
                using (Unless("Visible"))
                {
                    <li data-showhide="{{RawName}}">{{> lt-hideout-hiddenColumn}}</li>
                }
            }
        </ul>
    </div>
</script>

<script id="lt-hideout-visibleColumn" type="text/x-handlebars-template">
    <a style="cursor:pointer;"><span class="glyphicon glyphicon-eye-open" style="float:left"></span>{{Name}}</a>
</script>
<script id="lt-hideout-hiddenColumn" type="text/x-handlebars-template">
    <a style="cursor:pointer;"><span class="glyphicon glyphicon-eye-close" style="float:left"></span>{{Name}}</a>
</script>

<!--/Hideout-->
<!-- Checkboxify-->
<script id="lt-checkboxify-all" type="text/x-handlebars-template">
    {{#if NeedsColumn}}
    <th>
        <input type="checkbox" data-target="checkboxify" />
    </th>
    {{/if}}

    {{#unless NeedsColumn}}
    <input type="checkbox" data-target="checkboxify" />
    {{/unless}}
</script>
<script id="lt-checkboxify-check" type="text/x-handlebars-template">
    <input type="checkbox" data-target="checkboxify" data-colvalue="{{Value}}" {{#if Checked}} checked="checked" {{/if}} />
</script>
<!-- /Checkboxify-->
<!-- Limit -->
<script id="lt-plugin-limit" type="text/x-handlebars-template">
    <div class="btn-group">
        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
            Results: <span class="_selectedLabel">{{DefaultLabel}}</span>
            <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" role="menu">
            {{#each Sizes}}
            {{#if Separator}}
            <li class="divider"></li>
            {{else}}
            <li><a href="#" class="_limitSelect" data-size="{{Value}}">{{Label}}</a></li>
            {{/if}}
            {{/each}}
        </ul>
    </div>
</script>
<!-- /Limit -->
<!-- ResponseInfo -->
<script id="lt-responseinfo" type="text/x-handlebars-template">
    <p>Total <strong>{{ResultsCount}}</strong> records found</p>
</script>
<!-- /ResponseInfo -->

<script id="lt-plugin-pager" type="text/x-handlebars-template">
    {{#if Shown}}

    {{#if Configuration.ArrowsMode}}
    <nav style="margin:0;width:100px;margin-left:auto;">
        <ul class="pager">
            {{#if PrevArrow}}
            <li>
                <a data-action="prev">
                    {{{Configuration.PreviousText}}}
                    {{#unless  Configuration.PreviousText}}
                    <span class="glyphicon glyphicon-chevron-left"></span>
                    {{/unless}}
                </a>
            </li>{{/if}}
            {{#if NextArrow}}
            <li>
                <a data-action="next">
                    {{{Configuration.NextText}}}
                    {{#unless  Configuration.NextText}}
                    <span class="glyphicon glyphicon-chevron-right"></span>
                    {{/unless}}
                </a>
            </li>{{/if}}
        </ul>
    </nav>
    {{else}}

    <ul class="pagination" style="margin:0;">
        {{#each Pages}}
        {{#if First}}
        <li class="first"><a style="cursor:pointer" data-action="page" data-page="{{Page}}"><span class="glyphicon glyphicon-fast-backward"></span></a></li>{{/if}}
        {{#if Prev}}
        <li class="prev"><a style="cursor:pointer" data-action="prev"><span class="glyphicon glyphicon-chevron-left"></span></a></li>{{/if}}
        {{#if Period}}
        <li><span>. . .</span></li>{{/if}}
        {{#if ActivePage}}
        <li class="active"><span>{{DisPage}}</span></li>{{/if}}
        {{#if InActivePage}}
        <li><a style="cursor:pointer" data-action="page" data-page="{{Page}}">{{DisPage}}</a></li>{{/if}}
        {{#if Next}}
        <li class="next"><a style="cursor:pointer" data-action="next"><span class="glyphicon glyphicon-chevron-right"></span></a></li>{{/if}}
        {{#if Last}}
        <li class="last"><a style="cursor:pointer" data-action="page" data-page="{{Page}}"><span class="glyphicon glyphicon-fast-forward"></span></a></li>{{/if}}
        {{/each}}
    </ul>

    {{/if}}
    {{#if Configuration.UseGotoPage}}
    <div class="input-group _gotoPanel">
        <input type="text" class="form-control" data-action="pageInput" style="width:60px;" placeholder="Page">
        <span class="input-group-btn">
            <button class="btn btn-default" type="button" data-action="navg"><span class="glyphicon glyphicon-circle-arrow-right"></span></button>
        </span>
    </div>
    {{/if}}

    {{/if}}
</script>

@using (var t = Plugin.Loading())
{
    <div style="display:block;height:10px;margin:10px;margin-top:5px;" @t.Track()>
        <div class="badge _loading"><span class="glyphicon glyphicon-refresh"></span> Loading</div>
    </div>
}


<!--Toolbar-->
<script id="lt-toolbar" type="text/x-handlebars-template">
    {{#each Configuration.Buttons}}
    {{#unless HasSubmenu}}
    <button type="button" data-role="toolbar-btn" class="btn btn-default {{Css}}" title="{{Title}}" id="{{Id}}" data-idx="{{TempId}}">
        {{{HtmlContent}}}
    </button>
    {{/unless}}
    {{#if HasSubmenu}}
    {{#if IsMenu}}
    <div class="btn-group">
        <div class="btn-group" role="group">
            <button type="button" id="{{Id}}" class="btn {{Css}} dropdown-toggle" title="{{Title}}" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                {{{HtmlContent}}}
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
                {{#each Submenu}}
                {{#if Separator}}
                <li role="separator" class="divider"></li> {{/if}}
                {{#unless Separator}}
                <li data-idx="{{TempId}}" style="cursor:pointer" data-role="toolbar-btn" class="{{Css}}" id="{{Id}}"><a title="{{Title}}">{{{HtmlContent}}}</a></li>{{/unless}}
                {{/each}}
            </ul>
        </div>
    </div>
    {{/if}}
    {{#unless IsMenu}}
    <div class="btn-group">
        <button type="button" data-idx="{{TempId}}" data-role="toolbar-btn" title="{{Title}}" class="btn {{Css}}" id="{{Id}}">{{{HtmlContent}}}</button>
        <button type="button" class="btn {{Css}} dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <span class="caret"></span>
            <span class="sr-only">Toggle Dropdown</span>
        </button>
        <ul class="dropdown-menu">
            {{#each Submenu}}
            {{#if Separator}}
            <li role="separator" class="divider"></li> {{/if}}
            {{#unless Separator}}
            <li style="cursor:pointer" data-idx="{{TempId}}" data-role="toolbar-btn" class="{{Css}}" id="{{Id}}"><a title="{{Title}}">{{{HtmlContent}}}</a></li>{{/unless}}
            {{/each}}
        </ul>
    </div>
    {{/unless}}
    {{/if}}
    {{/each}}
</script>
<!--/Toolbar-->
