<!DOCTYPE html>
@{
    List<TutorialAttribute> tutorials = ViewBag.Tutorials;
    TutorialAttribute cTut = ViewBag.CurrentTutorial;
}
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reinforced.Lattice | @cTut.TutorialTitle</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    <link rel="stylesheet" href="~/Content/prism.css"/>
    <script type="text/javascript" src="~/Scripts/prism.js"></script>
    <script type="text/javascript" src="~/Scripts/handlebars.min.js"></script>
    <script type="text/javascript" src="~/Scripts/powertables.js"></script>
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Application name", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Markup", "About", "Home")</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container-fluid body-content">
        <br />
        <div class="row">
            <div class="col-md-2">
                <ul class="list-group">
                    @foreach (var t in tutorials)
                    {
                        <a href="@Url.Action(t.TutorialId,"Tutorial")" class="list-group-item @(cTut.TutorialId==t.TutorialId?"active":string.Empty)">@(t.TutorialNumber). @t.TutorialTitle</a>
                    }
                </ul>
            </div>
            <div class="col-md-10">

                <div class="container-fluid">
                    <h2>@cTut.TutorialTitle</h2>
                    <div class="row">
                        <div class="col-md-12">
                            <ul class="nav nav-tabs" role="tablist">
                                <li role="presentation" class="active"><a href="#_result" aria-controls="_result" role="tab" data-toggle="tab">Sample</a></li>
                                <li role="presentation"><a href="#_code" aria-controls="_code" role="tab" data-toggle="tab">Code</a></li>
                            </ul>
                            <div class="tab-content">
                                <div role="tabpanel" class="tab-pane active" id="_result">
                                    @RenderSection("Result")
                                </div>
                                <div role="tabpanel" class="tab-pane" id="_code">
                                    <pre>
                                        <code class="language-csharp">
@ViewBag.Code
</code>
                                    </pre>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>


    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("Scripts", required: false)

</body>
</html>

