<!DOCTYPE html>
@{
    List<TutorialAttribute> tutorials = ViewBag.Tutorials;
    TutorialAttribute cTut = ViewBag.CurrentTutorial;
    if (cTut == null)
    {
        cTut = new TutorialAttribute("Welcome", 0);
    }
    Dictionary<Code, string> additionaCode = ViewBag.AdditionalCode;
    if (additionaCode == null)
    {
        additionaCode = new Dictionary<Code, string>();
    }
}
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reinforced.Lattice | @cTut.TutorialTitle</title>
   
    <script type="text/javascript" src="~/Scripts/handlebars.min.js"></script>
    <script type="text/javascript" src="~/Scripts/powertables.js"></script>

    @{ Html.RenderPartial("~/Views/TemplateSets/Switch.cshtml"); }

    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")

    @Styles.Render("~/Content/css")
    @RenderSection("Scripts", required: false)
    <link rel="stylesheet" href="~/Content/prism.css" />
    <script type="text/javascript" src="~/Scripts/tabs.min.js"></script>
    <script type="text/javascript" src="~/Scripts/prism.js"></script>
    <script type="text/javascript" src="~/Scripts/templateswitch.js"></script>

</head>
<body>
    <div class="pt-navbar body-content">
       
            @Html.ActionLink("Reinforced.Lattice Tutorial", "Index", "Tutorial", new { area = "" }, new { @class = "pt-navbar-brand" })

        <select id="tplSwitch">
            <option value="Bootstrap">Bootstrap</option>
            <option value="Foundation">Foundation</option>
        </select>

    </div>
    <div class="pt-container-fluid body-content">
        <br />
        <div class="pt-row">
            <div class="pt-right-tabs">
                <ul class="pt-list-group">
                    @foreach (var t in tutorials)
                    {
                        <li>
                            <a href="@Url.Action(t.TutorialId, "Tutorial")" class="list-group-item @(cTut.TutorialId == t.TutorialId ? "active" : string.Empty)">@(t.TutorialNumber). @t.TutorialTitle</a>
                        </li>
                    }
                </ul>
            </div>
            <div class="pt-main-section">

                <div class="pt-container-fluid">
                    <h2 class="pt-main-sect-h2">@cTut.TutorialTitle</h2>
                    <div class="">
                        <div class="pt-tab-container">
                            <ul class="pt-tab-tut-lay" role="tablist">
                                <li role="presentation" class="active"><a href="#_result" aria-controls="_result" role="tab" data-toggle="tab">Sample</a></li>
                                <li role="presentation"><a href="#_code" aria-controls="_code" role="tab" data-toggle="tab">Table configuration</a></li>
                                @foreach (var c in additionaCode)
                                {
                                <li role="presentation"><a href="#_@(c.Key.Id)" aria-controls="_@(c.Key.Id)" role="tab" data-toggle="tab">@c.Key.File</a></li>
                                }
                            </ul>
                            <div class="tab-content">
                                <div role="tabpanel" class="tab-pane active" id="_result">

                                    @RenderSection("Result")
                                </div>
                                <div role="tabpanel" class="tab-pane" id="_code">

                                    <pre>
                                    <code class="language-csharp">
@ViewBag.Code
</code>
                                    </pre>
                                </div>
                                @foreach (var c in additionaCode)
                                {
                                    <div role="tabpanel" class="tab-pane" id="_@(c.Key.Id)">
                                        <pre>
                                        <code class="language-@(c.Key.Language)">
@c.Value
</code>
                                    </pre>
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <hr />
    </div>
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    




</body>
</html>
